<!DOCTYPE html>

<html>
	<head>
		<title id="topTitle">BlueStone Script</title>
		<!-- Insert this line above script imports  -->
		<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

		<!-- normal script imports etc  -->
		<script src="../node_modules/jquery/dist/jquery.min.js"></script>
		<script src="./js/vue.js"></script>

		<!-- Insert this line after script imports -->
		<script>if (window.module) module = window.module;</script>
		<script src="./js/index.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link href="./css/index.css" type="text/css" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="./css/elevation.css" />
		<link rel="stylesheet" href="./css/typography.css" />
	</head>
	<body>
		<div id="app">
			<div class="scim" v-if="error.show == true">
				<div class="overlay shown error">
					<h1 style="color: #ff3030;">Error</h1>
					<h2>@ {{ error.source }}, line: {{ error.line }}:{{ error.col }}</h2>
					<div class="divider"></div>
					<h2>{{ error.message }}</h2>
					<button @click="closeError()">Close</button>
				</div>
			</div>
			<div class="overlay addPrj">
				<div class="row">
					<input v-model="newPrj.name" placeholder="Project name" />
				</div>
				<div class="row">
					<input v-model="newPrj.namespace" placeholder="Namespace" />
				</div>
				<div class="row dir">
					<input placeholder="Workspace" v-model="newPrj.workspaceDir" />
					<button @click="choseDir('workspaceDir')"><i class="material-icons">folder</i></button>
				</div>
				<div class="row dir">
					<input placeholder="Export location" v-model="newPrj.exportDir"/>
					<button @click="choseDir('exportDir')"><i class="material-icons">folder</i></button>
				</div>
				<div class="row">
					<button @click="confirmPrj()">Add</button>
				</div>
			</div>
			<div class="bar z1">
				<bar-button v-if="show.build == true" icon="build" @click.native="build()">Build</bar-button>
				<bar-button v-if="show.projects == true" icon="book" @click.native="openPrjs()">Projects</bar-button>
				<bar-button v-if="show.projects == true" icon="remove" @click.native="deleteProject()">Remove</bar-button>
				<bar-button v-if="show.add == true" icon="add" @click.native="addPrj()">Add project</bar-button>
				<div class="button" style="float: right;" onclick="update();">
					<div class="inner blue" id="updateButton">
						<div class="iconWrapper">
							<i class="material-icons">get_app</i>
						</div>
						<p>Update</p>
					</div>
				</div>
			</div>
			<div class="projects">
				<div class="project" v-for="prj in projects" @click="openPrj(prj.id)">
					<h1>{{ prj.name }}</h1>
				</div>
			</div>
			<div class="loader" style="display: none;">
				<div class="barWrapper">
					<div class="bar">
						<div class="progress" v-bind:class="{ error: lastError }">

						</div>
					</div>
					<h1 class="compilerMessage show">{{ compilerMessage }}</h1>
				</div>
				<div class="console">
					<div class="message" v-for="entry in console" :style="{ backgroundColor: clr(entry.type) }">
						<div class="icon">
							<span class="material-icons" v-if="entry.type === 'log'">info</span>
							<span class="material-icons" v-if="entry.type === 'error'">error</span>
							<span class="material-icons" v-if="entry.type === 'warn'">warning</span>
						</div>
						<div class="text">
							<p>{{ entry.message }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="./js/keywords.js"></script>
		<!-- <script src="./js/compiler.js"></script> -->
		<script src="./js/filewatcher.js"></script>
		<script src="./js/app.js"></script>
		<div id="loaded">
			<div id="files">

			</div>
		</div>
	</body>
</html>
